{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title> Home {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <script src="{% static 'js/all.js' %}"></script>
</head>
<body> 
 <nav>
    <div class="nav-wrapper">
        <div class="logo-box">
            <div class="logo-img">
                <img src="{% static 'img/logo.png' %}" alt="logo">
            </div>
            <h5>Halleluya</h5>
        </div>
        <ul class="nav-list">
            <li>
                <a href="{% url 'home' %}">home</a>
            </li>
            {% if request.path == '/' %}
            <li>
                <a href="#about">about us</a>
            </li>
            <li>
                <a href="#goals">goals</a>
            </li>
            <li>
                <a href="#services">services</a>
            </li>
            <li>
                <a href="#contact">contact us</a>
            </li>
            {% else %}
            {# #}
            {% endif %}
        </ul>
        <button class="menu-btn">
            <i class="fas fa-bars"></i>
        </button>
    </div>
 </nav>
{% block content %}

{% endblock %}
<!-- footer -->
<footer>
    <div class="footer-wrapper">
        <div class="mail-box">
            <p>email: halleluyapropertieslimited@gmail.com</p>
            <p>tel: 0798648165</p>
            <div class="footer-links">
                <a href="{% url 'privacy' %}">Privacy policy</a>
                <a href="{% url 'terms' %}">Terms of use</a>
                <a href="{% url 'sitemap' %}">Sitemaps</a>
            </div>
        </div>
        <div class="Address-box">
            <p>address:</p>
            <address>
                Halleluya Properties Limited
                <p>151 Burnaby Road, Coventry,</p>
                <p>CV6 4AX</p>
            </address>
        </div>
        <div class="social-box">
            <a href="#n" target="_blank" aria-label="facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://vm.tiktok.com/ZGJv5wXEt/" target="_blank" aria-label="tiktok link">
                <i class="fab fa-tiktok"></i>
            </a>
        </div>
    </div>
</footer>
<div class="outro">
    <p>Copyright &copy; 2023 Halleluya Properties Limited | Powered by Sewonet</p>
</div>
<!-- end of footer -->
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<!-- aos init -->
<script>
     AOS.init({
        offset: 50,
        delay: 100,
        duration: 800,
        easing: 'ease',
        once: false,
        mirror: false,
        anchorPlacement: 'top-bottom'
    })
</script>
</body>
</html>