{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- header -->
<header>
    <div class="header-content">
        <h1 data-aos="fade-left">Welcome to Halleluya Properties Limited.</h1>
        <p>Your trusted partner in construction and renovation services. With a commitment to excellence and a passion for innovation, we have been serving the needs of our clients in the construction industry since 2023.</p>
    </div>
</header>
<!-- end of header -->
<!-- about section -->
<section class="about" id="about">
    <div class="title">
        <h2>about us</h2>
    </div>
    <div class="section-wrapper">
        <div class="about-wrapper">
            <!-- start -->
            <div class="box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon" tabindex="0" aria-label="icon of history">
                    <i class="fas fa-history"></i>
                </div>
                <h4>Our History</h4>
                <p>Halleluya Properties Limited was founded in 2023 with a bold vision to transform the residential construction and renovation industry in the United Kingdom. From its inception, the company embarked on a journey dedicated to excellence and craftsmanship, consistently delivering high-quality construction and renovation services. Over the years, Halleluya Properties Limited has established itself as a trusted name, synonymous with innovation and unwavering commitment to client satisfaction.</p>
            </div>
            <!-- end -->
{% for prop in project %}
<h1>{{prop.name}}
<img src="{{prop.image.url}}" />
</h1>
{% endfor %}
            <!-- start -->
            <div class="box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon" tabindex="0" aria-label="icon of a hand holding a hand">
                    <i class="fas fa-hands-helping"></i>
                </div>
                <h4>Our Mission</h4>
                <p>At Halleluya Properties Limited, our mission is to create homes that inspire and enrich lives. With an unwavering commitment to quality and attention to detail, we are dedicated to delivering top-notch construction and renovation services tailored to our clients' unique needs. Our aspiration is to turn your dreams into reality, one project at a time.</p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon" tabindex="0" aria-label="icon of people">
                    <i class="fas fa-eye"></i>
                </div>
                <h4>Our Vision</h4>
                <p>Our vision is to be a leading force in the construction and renovation industry, setting the highest standards for innovation, sustainability, and client satisfaction. We are not just building houses; we are crafting exceptional living experiences that stand the test of time. We aspire to reshape residential spaces, setting new benchmarks for what a home can be.</p>
            </div>
            <!-- end -->
        </div>
        <div class="about-sub">
            <p>At Halleluya Properties Limited, we are not just building structures; we are building dreams, relationships, and sustainable futures. Join us on this exciting journey as we redefine the art of construction and renovation, one remarkable project at a time.</p>
        </div>
    </div>
</section>
<!-- end of about section -->
<!-- goals section -->
<section class="goals" id="goals">
    <div class="title">
        <h2>our goals</h2>
    </div>
    <div class="section-wrapper">
        <div class="goals-wrapper">
            <ul class="goals-list">
                <li data-aos="fade-up" data-aos-delay="100">
                    <p><span class="goal-title">Quality Craftsmanship:</span> We are committed to consistently providing superior craftsmanship in every aspect of construction and renovation, ensuring that each project we undertake reflects our unwavering commitment to excellence.</p>
                </li>
                <li data-aos="fade-up" data-aos-delay="200">
                    <p><span class="goal-title">Client-Centric Approach:</span> Our clients are at the heart of everything we do. We prioritize their needs, preferences, and budget constraints in every project, delivering customized solutions that not only meet but exceed expectations.</p>
                </li>
                <li data-aos="fade-up" data-aos-delay="300">
                    <p><span class="goal-title">Diverse Service Portfolio:</span> We continually expand our service offerings to cover a wide range of construction and renovation needs, including bricklaying, plastering, electric wiring, setting out of utilities, site surveying, laying underground heating pipes, architectural designing/AutoCAD, and general civil engineering.</p>
                </li>
                <li data-aos="fade-up" data-aos-delay="400">
                    <p><span class="goal-title">Skilled Workforce:</span> We take pride in building and maintaining a diverse and highly skilled workforce that embodies our core values of quality, diversity, and professionalism. Our team is our strength.</p>
                </li>
                <li data-aos="fade-up" data-aos-delay="500">
                    <p><span class="goal-title">Skilled Workforce:</span> We take pride in building and maintaining a diverse and highly skilled workforce that embodies our core values of quality, diversity, and professionalism. Our team is our strength.</p>
                </li>
                <li data-aos="fade-up" data-aos-delay="600">
                    <p><span class="goal-title">Sustainability:</span>  We are committed to incorporating sustainable building practices and materials into our projects, contributing to a greener and more environmentally conscious construction industry.</p>
                </li>
                <li data-aos="fade-up" data-aos-delay="700">
                    <p><span class="goal-title">Community Engagement:</span> We actively engage with local communities and stakeholders, fostering positive relationships and giving back to the communities in which we operate. Our commitment to community extends beyond bricks and mortar.</p>
                </li>
                <li data-aos="fade-up" data-aos-delay="800">
                    <p><span class="goal-title">Innovation:</span>  We remain at the forefront of industry trends and technological advancements, embracing innovation and creative solutions in our projects. We constantly seek new ways to improve and innovate in the construction and renovation space.</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- end of goals -->
<!-- services section -->
<section class="services" id="services">
    <div class="title">
        <h2>our services</h2>
    </div>
    <div class="section-wrapper">
        <p class="info" style="margin-bottom: 2rem;">At Halleluya Properties Limited, we offer a comprehensive range of construction and renovation services to meet your specific needs. Our team of highly skilled professionals is dedicated to delivering top-notch solutions that exceed your expectations. Here's a detailed look at the services we provide:</p>
        <div class="service-grid">
            <!-- start -->
            <div class="service-box" data-aos="fade-right" data-aos-delay="100">
                <div class="img-box">
                    <img src="{% static 'img/service/service-1.png' %}" alt="service logo">
                </div>
                <h4>Bricklaying</h4>
                <p>Our experienced bricklayers are experts in creating sturdy and aesthetically pleasing brickwork for various construction projects. We use top-quality materials and the latest techniques to ensure durability and precision.</p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="service-box" data-aos="fade-left" data-aos-delay="200">
                <div class="img-box">
                    <img src="{% static 'img/service/service-3.png' %}" alt="service logo">
                </div>
                <h4>General Civil Engineering</h4>
                <p>We offer a wide range of civil engineering services, including structural analysis, foundation design, and infrastructure development, to ensure the structural integrity of your project.</p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="service-box" data-aos="fade-up" data-aos-delay="300">
                <div class="img-box">
                    <img src="{% static 'img/service/service-2.png' %}" alt="service logo">
                </div>
                <h4>Plastering</h4>
                <p>We specialize in plastering services that transform your walls and ceilings into smooth, flawless surfaces. Our skilled plasterers use advanced methods to achieve a flawless finish for both interior and exterior spaces.</p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="service-box" data-aos="fade-right" data-aos-delay="400">
                <div class="img-box">
                    <img src="{% static 'img/service/service-4.png' %}" alt="service logo">
                </div>
                <h4>Laying Underground Heating Pipes</h4>
                <p>We specialize in the installation of underground heating pipes to provide efficient heating solutions for your property. Our advanced techniques ensure even heat distribution and energy efficiency.</p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="service-box" data-aos="fade-left" data-aos-delay="500">
                <div class="img-box">
                    <img src="{% static 'img/service/service-5.png' %}" alt="service logo">
                </div>
                <h4>Electric Wiring</h4>
                <p>Our certified electricians handle all aspects of electrical work, from wiring installations to repairs and maintenance. Safety and efficiency are our top priorities when it comes to electrical services.</p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="service-box" data-aos="fade-down" data-aos-delay="100">
                <div class="img-box">
                    <img src="{% static 'img/service/service-6.png' %}" alt="service logo">
                </div>
                <h4>Architectural Designing/AutoCAD</h4>
                <p>Our team of architects and designers utilize cutting-edge AutoCAD technology to create detailed and innovative architectural designs that bring your vision to life.</p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="service-box" data-aos="fade-up" data-aos-delay="300">
                <div class="img-box">
                    <img src="{% static 'img/service/service-7.png' %}" alt="service logo">
                </div>
                <h4>Setting Out of Utilities</h4>
                <p>We assist in the precise placement and layout of utilities to ensure optimal functionality and efficiency in your construction or renovation project.</p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="service-box" data-aos="fade-right" data-aos-delay="400">
                <div class="img-box">
                    <img src="{% static 'img/service/service-8.png' %}" alt="service logo">
                </div>
                <h4>General Site Surveying</h4>
                <p>Our expert surveyors conduct comprehensive site surveys to gather essential data for project planning and execution. Accurate surveys are the foundation of successful construction projects.</p>
            </div>
            <!-- end -->
        </div>
    </div>
</section>
<!-- end of services section --> 
<!-- staffing goals section -->
<section class="stuff-goals" id="stuff-goals">
    <div class="title">
        <h2>Staffing Goals</h2>
    </div>
    <div class="section-wrapper">
        <div class="goals-wrapper">
            <p class="info">Halleluya Properties Limited is dedicated to building a skilled and diverse workforce that aligns with our vision and supports our growth in the medium term. Our staffing goals include:</p>
            <ul class="goals-list">
                <li data-aos="fade-up" data-aos-delay="100">
                    <p><span class="goal-title">Skills Diversity:</span>  To recruit and retain individuals with a diverse range of skills and expertise in construction and renovation, including bricklaying, plastering, electrical work, site surveying, and architectural design.</p>
                </li>
                <li data-aos="fade-up" data-aos-delay="200">
                    <p><span class="goal-title">Cultural Inclusivity:</span>  To promote a workplace culture that embraces diversity, fostering an inclusive environment where employees of various cultural backgrounds collaborate and thrive.</p>
                </li>
                <li data-aos="fade-up" data-aos-delay="300">
                    <p><span class="goal-title">Professional Development:</span>To provide ongoing training and professional development opportunities to our employees, ensuring they stay up-to-date with industry best practices and technological advancements.</p>
                </li>
                <li data-aos="fade-up" data-aos-delay="400">
                    <p><span class="goal-title">Technical Director:</span> To appoint a Technical Director who will play a key role in guiding our tradesmen and ensuring expert advice is readily available for all projects.</p>
                </li>
                <li data-aos="fade-up" data-aos-delay="500">
                    <p><span class="goal-title">Expansion Support:</span> To hire additional staff to support our expansion efforts, enabling us to take on larger projects and serve a wider client base effectively.</p>
                </li>
                <li data-aos="fade-up" data-aos-delay="600">
                    <p><span class="goal-title">Qualified Workforce:</span>   To maintain a highly qualified and skilled workforce, meeting the needs of our growing property portfolio and ensuring the delivery of top-quality construction and renovation services.</p>
                </li>
                <li data-aos="fade-up" data-aos-delay="700">
                    <p><span class="goal-title">Cultural Competency:</span> To ensure our workforce reflects the diversity of the communities we serve, promoting cultural competency among our employees to better understand and meet client expectations.</p>
                </li>
                <li data-aos="fade-up" data-aos-delay="800">
                    <p><span class="goal-title">Ethical Employment:</span>  To uphold ethical employment practices, treating all employees with fairness, respect, and providing safe working conditions.</p>
                </li>
                <li data-aos="fade-up" data-aos-delay="900">
                    <p><span class="goal-title">Adaptability:</span> To build a team that can adapt to changing industry demands, incorporating new technologies and sustainable practices into our work.</p>
                </li>
                <li data-aos="fade-up" data-aos-delay="1000">
                    <p><span class="goal-title">Client-Centric Approach:</span>  To instill a client-centric approach in our employees, emphasizing responsiveness, effective communication, and a commitment to meeting client needs.</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- end of staffing goals -->
<!-- contact section -->
<section class="contact" id="contact">
    <div class="title">
        <h2>contact us</h2>
    </div>
    <div class="section-wrapper">
        <p class="contact-info" style="margin-bottom: 2rem;">Halleluya Properties is dedicated to making your construction and renovation dreams a reality. Contact us today to discuss your project and experience the difference of working with a team that cares about your vision as much as you do. We look forward to serving you with excellence and professionalism.</p>
        <div class="contact-wrapper">
            <div class="img-box">
                <img src="{% static 'img/contact.jpg' %}" alt="contact us image">
            </div>
            <div class="contact-box" data-aos="flip-right" data-aos-delay="400">
                <h2>get in touch</h2>
                <form action="#" class="contact-form">
                    <input type="text" placeholder="name">
                    <input type="email" placeholder="email">
                    <textarea placeholder="message"></textarea>
                    <input type="submit" value="send message" class="all-btns">
                </form>
            </div>
        </div>
    </div>
    </section>
<!-- end of contact section -->
{% endblock %}