{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- header -->
<header>
    <div class="header-content">
        <h1 data-aos="fade-left">welcome to construction Limited</h1>
    </div>
</header>
<!-- end of header -->
<!-- about section -->
<section class="about" id="about">
    <div class="title">
        <h2>about us</h2>
    </div>
    <div class="section-wrapper">
        <div class="about-wrapper">
            <!-- start -->
            <div class="box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon" tabindex="0" aria-label="icon of a house">
                    <i class="fas fa-home"></i>
                </div>
                <h4>strong buildings</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error iste quaerat voluptates est distinctio, dolores aliquam aliquid, minima illo fugit laboriosam voluptatum debitis, ipsum saepe accusantium nisi praesentium sunt quo.</p>
                <a href="#nb">our services</a>
            </div>
            <!-- end -->
{% for prop in project %}
<h1>{{prop.name}}
<img src="{{prop.image.url}}" />
</h1>

            <!-- start -->
            <div class="box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon" tabindex="0" aria-label="icon of a hand holding a hand">
                    <i class="fas fa-hands-helping"></i>
                </div>
                <h4>clean partnership</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error iste quaerat voluptates est distinctio, dolores aliquam aliquid, minima illo fugit laboriosam voluptatum debitis, ipsum saepe accusantium nisi praesentium sunt quo.</p>
                <a href="#n">contact us</a>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon" tabindex="0" aria-label="icon of people">
                    <i class="fas fa-users"></i>
                </div>
                <h4>skilled constructors</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error iste quaerat voluptates est distinctio, dolores aliquam aliquid, minima illo fugit laboriosam voluptatum debitis, ipsum saepe accusantium nisi praesentium sunt quo.</p>
                <a href="#nb">our services</a>
            </div>
            <!-- end -->
        </div>
        <div class="about-sub">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum quaerat earum et autem accusantium ullam. Libero cumque illum corrupti unde natus optio consectetur dolore repellendus, dolores rerum enim sed tenetur. <br> <br>
            Voluptate porro perferendis, eius, ducimus, quo suscipit ratione excepturi temporibus nemo tempora numquam fuga asperiores animi dolore quod sit sunt nobis enim corrupti culpa quibusdam similique odit eaque dolores. Iure.</p>
            <a href="#n" style="margin-top: 2rem;">contact us now</a>
        </div>
    </div>
</section>
<!-- end of about section -->
<!-- services section -->
<section class="services" id="services">
    <div class="title">
        <h2>our services</h2>
    </div>
    <div class="section-wrapper">
        <div class="service-grid">
            <!-- start -->
            <div class="service-box" data-aos="fade-right" data-aos-delay="100">
                <div class="img-box">
                    <img src="{% static 'img/service/service-1.png' %}" alt="service logo">
                </div>
                <h4>building construction</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, corrupti. Incidunt aliquid ut distinctio in.</p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="service-box" data-aos="fade-left" data-aos-delay="200">
                <div class="img-box">
                    <img src="{% static 'img/service/service-2.png' %}" alt="service logo">
                </div>
                <h4>Material Supply</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, corrupti. Incidunt aliquid ut distinctio in.</p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="service-box" data-aos="fade-up" data-aos-delay="300">
                <div class="img-box">
                    <img src="{% static 'img/service/service-3.png' %}" alt="service logo">
                </div>
                <h4>House Renovation</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, corrupti. Incidunt aliquid ut distinctio in.</p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="service-box" data-aos="fade-right" data-aos-delay="400">
                <div class="img-box">
                    <img src="{% static 'img/service/service-4.png' %}" alt="service logo">
                </div>
                <h4>Architechture Design</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, corrupti. Incidunt aliquid ut distinctio in.</p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="service-box" data-aos="fade-left" data-aos-delay="500">
                <div class="img-box">
                    <img src="{% static 'img/service/service-5.png' %}" alt="service logo">
                </div>
                <h4>construction consultant</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, corrupti. Incidunt aliquid ut distinctio in. Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi assumenda vel quia voluptas consequuntur excepturi harum, doloremque quis voluptatum, dolor nisi impedit. Exercitationem modi natus nam, quidem delectus maxime hic!</p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="service-box" data-aos="fade-down" data-aos-delay="100">
                <div class="img-box">
                    <img src="{% static 'img/service/service-6.png' %}" alt="service logo">
                </div>
                <h4>interior design</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, corrupti. Incidunt aliquid ut distinctio in.</p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="service-box" data-aos="fade-up" data-aos-delay="300">
                <div class="img-box">
                    <img src="{% static 'img/service/service-7.png' %}" alt="service logo">
                </div>
                <h4>building renovation</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, corrupti. Incidunt aliquid ut distinctio in.</p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="service-box" data-aos="fade-right" data-aos-delay="400">
                <div class="img-box">
                    <img src="{% static 'img/service/service-8.png' %}" alt="service logo">
                </div>
                <h4>building maintenance</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, corrupti. Incidunt aliquid ut distinctio in.</p>
            </div>
            <!-- end -->
        </div>
    </div>
</section>
<!-- end of services section -->
 
<!-- projects section -->

<!-- end of projects section -->
<!-- contact section -->
<section class="contact" id="contact">
    <div class="title">
        <h2>contact us</h2>
    </div>
    <div class="section-wrapper">
        <div class="contact-wrapper">
            <div class="img-box">
                <img src="{% static 'img/contact.jpg' %}" alt="contact us image">
            </div>
            <div class="contact-box" data-aos="flip-right" data-aos-delay="400">
                <h2>get in touch</h2>
                <form action="#" class="contact-form">
                    <input type="text" placeholder="name">
                    <input type="email" placeholder="email">
                    <input type="tel" placeholder="phone">
                    <textarea placeholder="message"></textarea>
                    <input type="submit" value="send message" class="all-btns">
                </form>
            </div>
        </div>
    </div>
    </section>
<!-- end of contact section -->
{% endblock %}